@use './layout.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--el-bg-color-page);
  font-size: var(--el-font-size-base);
}

svg,
img {
  display: inline-block;
}

.text-secondary {
  color: var(--el-text-color-secondary);
}
