.logo {
  position: fixed;
  top: 16px;
  left: 10px;
  z-index: 99;

  color: var(--el-menu-text-color);
}

.v-header {
  position: fixed;
  right: 0;
  left: 200px;
  z-index: 10;
  display: flex;
  align-items: center;

  height: 60px;

  top: 0;

  transition: 0.3s ease-in-out;
  border-bottom: 1px solid var(--border-color);

  background-image: radial-gradient(transparent 1px, var(--el-bg-color-page) 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
  -webkit-backdrop-filter: saturate(50%) blur(4px);

  &.header-collapse {
    left: 64px;
  }
}

.mo-tags {
  position: fixed;
  top: 60px;
  z-index: 1001;
  left: 200px;
  right: 0;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  box-shadow: var(--el-box-shadow-lighter);

  &.tag-collapse {
    left: 64px;
  }

  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding-right: 4px;
      height: 24px;
      margin-top: 3px;
      font-size: 12px;
      margin-left: 2px;

      border-radius: 8px 8px 0 0;
      > span {
        padding: 0 4px 0 8px;
      }

      &.active {
        color: #fff;
        background-color: var(--el-color-primary);
      }

      &:hover {
        color: var(--el-text-color-secondary);
      }
    }
  }
}

.el-aside {
  top: 0;

  > .el-menu {
    position: fixed;
    width: 200px;
    border-right: 0 none;
    padding-top: 60px;
    height: 100vh;
    overflow-y: auto;
  }
  > .el-menu--collapse {
    width: 64px;
  }
}

.main-content {
  overflow: auto;
  margin-top: 90px;
  padding-left: 200px;
  transition: 0.3s ease-in-out;

  &.content-collapse {
    padding-left: 64px;
  }
}
